<md-content layout="column" layout-align="space-between center" style="width: 100%; height: 100%;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">

            <md-button class="md-icon-button md-primary" ng-click="local.back()" aria-label="Back">
                <ng-md-icon icon="chevron_left"></ng-md-icon>
            </md-button>

            <p>{{ local.title }}</p>

            <md-button class="md-icon-button md-primary" aria-label="Menu" ng-disabled="true">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>

        </div>
    </md-toolbar>


    <md-whiteframe class="md-whiteframe-z4" layout="column" layout-align="center center" style="width: 95%; height: 65%;">

    </md-whiteframe>
</md-content>
